.board {
    width: 100%;
    height: 100%;
}

.sketch {
    width: 100%;
    height: 100%;
}
.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    font-size: x-large;
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}